footer{
     background-color: #ddd;
     /* margin-top: 80px; */
}

.footerContainer{
     width: 100%;
     padding: 70px 30px 20px;
}

.socialIcons{
     display: flex;
     justify-content: center;
}

.socialIcons a{
     text-decoration: none;
     padding: 10px;
     background-color: black;
     margin: 0px 20px;
     border-radius: 50%;
}

.socialIcons a i{
     font-size: 2em;
     color: white;
     opacity: 0.9;
}

/* hover */
.socialIcons a:hover{
     background-color: white;
     transition: 0.5s;
     border-bottom: none;
}

.socialIcons a:hover i{
     color: black;
     transition: 0.5s;
     border-bottom: none;
}

.footerNav{
     margin: 30px 0;
}

.footerNav ul{
     display: flex;
     justify-content: center;
}

.footerNav ul li{
     list-style: none;
}

.footerNav ul li a{
     color: black;
     margin: 20px;
     text-decoration: none;
     font-size: 16px;
}

.footerBottom{
     background-color: black;
     padding: 20px;
     text-align: center;
}

.footerBottom p{
     color: white;
}

@media (max-width: 669px) {
     .footerNav li a{
          font-size: 16px;
     }
}
